/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 769px) {
  /*************************************************************************************************
A L L   P A G E S
/*************************************************************************************************/

  /**********************
1.NAVBAR
***********************/

  #navbar {
    height: clamp(65px, 65px + 2vw, 70px);
  }

  .menu {
    display: none;
  }

  /**********************
1B.LARGE MENU
***********************/

  #large-menu {
    color: var(--blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: clamp(var(--mbl-w) * 0.45, 45vw, var(--max-w) * 0.45);
    height: 100%;
  }

  .l-menu-item {
    list-style: none;
    font-size: clamp(10px, 0.5em + 0.4vw, 18px);
    font-weight: 600;
    height: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
  }

  .l-menu-item a {
    text-decoration: none;
    color: var(--blue);
  }

  .l-menu-item:hover {
    background-color: var(--blue);
  }

  .l-menu-item:hover > a {
    color: white;
    cursor: pointer;
  }

  .l-menu-item:active > a {
    color: var(--red);
  }

  /**********************
1C.OTHER NAV ITEMS
***********************/

  #logo {
    padding-left: 0;
    height: clamp(45px, 45px + 2vw, 68px);
    /* height: clamp(90px, 90px + 3vw, (var(--max-w) * 0.03) + 90px); */
  }

  #call-nav-block {
    flex-direction: row;
    align-self: center;
    width: clamp(var(--mbl-w) * 0.2, 20vw, var(--max-w) * 0.2);
    text-align: center;
    height: 100%;
  }

  #call {
    display: none;
  }

  #call-large {
    color: var(--blue);
    text-decoration: none;
    font-size: clamp(10px, 0.8em + 0.55vw, 25px);
    font-weight: 500;
    display: inline;
  }

  #book-nav-block {
    width: calc(100px + 4vw);
    width: clamp(100px, 100px + 4vw, (var(max-w) * 0.04) +100px);
    height: 100%;
  }

  #book {
    line-height: 1.15rem;
    font-size: clamp(0.7em, 0.7em + 0.55vw, 20px);
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    padding: 0 clamp(var(--mbl-w) * 0.01, 1vw, var(--max-w) * 0.01);
  }

  /**********************
2.COVID SECTION
***********************/

  #section-2 {
    margin-top: clamp(65px, 65px + 2vw, 70px);
    flex-direction: row;
    justify-content: space-around;
  }

  #s2-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }

  #virus {
    width: clamp(0.65em, 0.65em + 2vw, 0.65em + (var(--max-w) * 0.02));
    height: auto;
  }

  #s2-head {
    color: #fff;
    font-size: clamp(0.55em, 0.55em + 1vw, 0.55em + (var(--max-w) * 0.01));
    font-weight: 500;
    padding-left: 1vw;
    border-bottom: 0.5px solid #fff;
  }

  #virus-text {
    color: #fff;
    align-self: center;
    width: 75vw;
    padding-bottom: 0;
    font-size: 0.75em;
  }

  #virus-text a {
    color: #fff;
    font-size: 1em;
    font-weight: 500;
  }

  /**********************
FORM SECTION
***********************/

  .section-4 {
    padding: 10vh 0;
  }

  .form-section {
    width: 50%;
  }

  .form-input {
    font-weight: 100;
  }

  .form-section-services {
    width: 50%;
  }

  .section-4-services {
    margin: 0;
  }

  /*************************************************************************************************
H O M E   P A G E 
/*************************************************************************************************/

  /**********************
3B. HOME PAGE. HERO SECTION. LRG SCREEN
***********************/

  #section-3 {
    display: none;
  }

  #section-3b {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* width: 100%; */
    position: relative;
    background-image: linear-gradient(#ffff, var(--lgt-grey));

    /* max-height: 98vh; */
    /* min-height: calc(100vh - var(--nav-height)); */
  }

  .section-3b-top {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    /* width: 100%; */
    position: relative;
    /* background-image: linear-gradient(#ffff, var(--lgt-grey)); */
    /* max-height: 98vh; */
    min-height: calc(100vh - var(--nav-height));
  }

  .hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding-left: 25px;
  }

  #triangle-topleft {
    border-top: 32vh solid #e8402d56;
    border-right: 65vw solid transparent;
    border-left: none;
    right: none;
    left: 0;
    width: 0;
    height: 0;
    position: absolute;
    /* z-index: -1; */
  }

  .hero-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
  }

  .hero-headb {
    color: #ffff;
    /* width: 75%; */
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    line-height: 90%;
    /* text-align: start; */
    padding: 1vh;
    /* margin-top: 2vh; */
    /* min-height: 30vh; */
    /* font-size: calc(15px + 1vw); */
    border-radius: 0 0 0 15px;
    margin-right: 1vh;
  }

  .headb-blue {
    margin-top: 1vh;
    background-color: var(--blue);
    border: 15px solid var(--blue);
    font-weight: 800;
    font-size: clamp(15px, 15px + 1vw, (var(--max-w) * 0.02) + 15px);
  }

  .headb-red {
    background-color: var(--red);
    border: 15px solid var(--red);
    font-weight: 600;
    margin-top: 3px;
    font-size: clamp(15px, 15px + 0.75vw, (var(--max-w) * 0.015) + 15px);

    /* width: 85%; */
  }

  /* #triangle-bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-bottom: 32vh solid var(--lgt-grey);
    border-right: 100vw solid transparent;
  } */

  #vanb {
    width: 85%;
    height: auto;
  }

  .checkmarks {
    margin-top: 6vh;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* width: 80%; */
    /* border-left: 5px solid var(--slate-grey);
    border-right: 5px solid var(--slate-grey); */
    /* border-radius: 15px; */
    padding: 10px 15px;
    background-color: #ffff;
    /* border-radius: 15px; */
    width: 100%;
  }

  .checkmark {
    display: flex;
    /* width: 50%; */
    align-items: center;
  }

  .check {
    color: var(--red);
    font-size: 2em;
    margin-right: 5px;
  }

  .check-text {
    color: var(--blue);
    font-size: 1.1em;
    margin-right: 8px;
  }

  #rectangle-bottomb {
    width: 100%;
    height: calc(65px + 6vh);
    background-color: #0b364462;
    display: grid;
    border-bottom: 8px double #fff;
    border-top: 8px double #fff;
    /* transform: skewY(-4deg) scale(1);
    -webkit-transform: skewY(-4deg) scale(1);
    -moz-transform: skewY(-4deg) scale(1);
    -ms-transform: skewY(-4deg) scale(1); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    box-shadow: -2px 2px 10px #888888;
  }

  /* .hero-card-b {
    background-color: var(--slate-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    border-radius: 15px;
  } */

  .hero-form {
    align-self: flex-end;
    /* margin-top: 8vh; */
    /* width: 50%; */
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid var(--slate-grey); */
    /* border-radius: 15px; */
    align-items: center;
    padding: 20px;
    margin: 4vh 5vh;
  }

  .hero-form-header {
    /* text-align: center; */
    font-size: clamp(15px, 15px + 0.5vw, 25px);
    font-weight: 600;
    color: var(--blue);
  }

  .head-form-div {
    display: flex;
    justify-content: space-around;
  }

  .form-inputb {
    width: 47.5%;
    /* border-bottom: 1px solid var(--blue); */
    /* border: 3px solid var(--slate-grey); */
    /* background: transparent; */
    border: none;
    /* margin-bottom: 2vh; */
    font-size: 1em;
    font-size: clamp(12px, 12px + 0.3vw, (var(--max-w) * 0.003) + 12px);
    color: var(--grey);
    font-weight: 300;
    padding: 5px;
    /* line-height: 25px; */
  }

  .dropdown {
    cursor: pointer;
  }

  /* .form-inputb:focus {
    border: 3px solid var(--red);
  } */

  .hero-form-button {
    /* padding: 10px; */
    width: 55%;
    /* background-color: var(--red); */
    /* background-color: #4caf50; */
    background: var(--blue);

    color: #ffff;
    font-size: 1em;
    font-size: clamp(12px, 12px + 0.5vw, (var(--max-w) * 0.005) + 12px);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }

  .icon-display {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4vh;
    margin-bottom: 10px;
    width: 100%;
  }

  .icon-display-unit {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
  }

  .border-right {
    border-right: 0.5px solid var(--blue);
  }

  .icon-display-icon {
    height: clamp(25px, 25px + 1.5vw, ((var(--max-w) * 0.015) + 25px));
    margin-right: 5%;
  }

  .icon-display-text {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .icon-display-header {
    color: var(--blue);
  }

  .divider {
    /* height: 30vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vh;
  }

  .hero-headd {
    color: #ffff;
    /* width: 75%; */
    align-self: flex-start;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* font-size: 2em; */
    line-height: 90%;
    /* text-align: start; */
    padding: 1vh;
    /* margin-top: 2vh; */
    /* min-height: 30vh; */
    /* font-size: calc(15px + 1vw); */
    border-radius: 0 0 15px 0px;
    margin-right: 1vh;
  }

  /**********************
5. SERVICES SECTION 
***********************/

  .section-5 {
    padding-bottom: 5vh;
    margin-bottom: 8vh;
  }

  /*************************************************************************************************
S E R V I C E S   P A G E S
/*************************************************************************************************/

  /**********************
4. TEXT SECTION 
***********************/

  .text-section {
    padding: 25px 45px;
    overflow: hidden;
    max-height: none;
  }

  .text-button {
    background-color: var(--red);
    font-size: 20px;
    border: none;
    padding: 15px;
    cursor: pointer;
    margin: 30px;
    align-self: center;
  }

  .section-hero {
    margin-top: clamp(50px, 25vh, 20vw);
    position: relative;
    padding: 0;
  }

  /**********************
1a. DIAGRAM [easy as 1, 2, 3...] 
***********************/

  .diagram {
    top: -18%;
    right: 3.25vw;
    width: 35%;
    height: 40%;
    position: absolute;
    row-gap: clamp(30px, 30px + 1.5vh, (var(--max-w) * 0.015) + 30px);
  }

  .diagram-header {
    color: var(--blue);
    background-color: rgba(255, 255, 255, 0.707);
    border-radius: 15px;
    padding: 0 10px;
    grid-area: header;
    font-size: clamp(15px, 15px + 1.75vw, (var(--max-w) * 0.0175) + 15px);
    margin-bottom: 5px;
    font-weight: 200;
    display: inline;
    text-align: center;
    /* justify-self: center; */
  }

  .label {
    border: 4px solid var(--red);
  }

  .hero-card-mbl {
    display: none;
  }

  .hero-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(225px + 15vw);
    width: clamp(225px, 225px + 15vw, (var(--max-w) * 0.15) + 225px);
    height: calc(325px + 17vw);
    height: clamp(325px, 325px + 17vw, (var(--max-w) * 0.17) + 325px);
    background-color: #ffff;
    border-radius: 15px;
    position: absolute;
    left: 10%;
    top: -25%;
    z-index: 1;
  }

  .hero-head {
    padding: 0 15px 0 15px;
    text-align: start;
  }

  .card-sub-head {
    font-weight: 100;
    padding: 0 15px 0 15px;
    color: var(--grey);
    letter-spacing: 1px;
    line-height: 1.5em;
    text-align: start;
    align-self: flex-start;
  }

  .hero-card-bottom {
    background-color: var(--red);
    color: #ffff;
    width: 100%;
    /* position: absolute; */
    bottom: 0;
    height: 35%;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
  }

  .image-showcase {
    margin-bottom: 0;
  }

  /*************************************************************************************************
B O O K I N G   P A G E 
/*************************************************************************************************/

  /* .diagram-bk {
    position: static;
  
    width: clamp(100px, 100px + 10vw, (var(--max-w) * 0.1) + 100px);
    height: clamp(100px, 100px + 10vw, (var(--max-w) * 0.1) + 100px);
    width: 10vw;
    height: 10vw;
  } */

  .booking-hero {
    padding-bottom: 10vh;
  }

  .section-hero-bk {
    position: static;
    margin-top: none;
    height: auto;
  }

  .hero-card-bk {
    position: static;
    left: none;
    top: none;
    z-index: none;
    height: auto;
    border-radius: 0 0 15px 15px;
    margin-left: clamp(50px, 50px + 1vw, (var(--max-w) * 0.01) + 50px);
  }

  .hero-head-bk {
    margin-top: 30px;
  }

  #form-section-bk {
    width: 75%;
    padding: 20px 40px;
  }

  .booking-header {
    padding: 20px 40px;
  }

  .booking-icon {
    padding: 50px 40px 40px 50px;
    margin-right: clamp(100px, 100px + 3vw, (var(--max-w) * 0.03) + 100px);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1440px) {
}
